// Contacts section styles


// Move to basic unilities
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  //Move to basic styles
   ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
  }

  p {
    margin: 0;
  }
  
  

.contacts__branch {
    width: 280px;
    padding: 40px 32px;
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.branch__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    font-style: normal;

    margin-bottom: 20px;

    background-color: #F8D24E;
    
    color: #131313;

    display: flex;
    align-items: center;
    text-align: center;

    text-transform: uppercase;
}

.branch__city  {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    font-style: normal;

    margin-bottom: 8px;
}

.branch__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: rgba(214, 147, 109, 1);
    font-style: normal;
}


.schedule__item {
    text-decoration: none;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}



.schedule__day {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
}

.schedule__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: rgba(171, 171, 171, 1);

}

.contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(19, 19, 19, 1);
    text-decoration: none;
}

.contacts__section {
    // display: flex;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    padding-bottom: 24px;
    padding-top: 24px;
  
    &:first-child {
      padding-top: 0px;
    }

    &:last-child {
      border-bottom: none;
      padding-top: 24px;
      padding-bottom: 0;
    }
  }

  .contacts__button {
    display: block;
    width: 196px;
    height: 42px;
    border-radius: 10px;

    align-self: center;
    // margin: auto;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
  }
