// Products section styles
.products {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/products-ice-cream-background-mobile-1.png), url(../images/products-ice-cream-background-mobile-2.png), url(../images/products-ice-cream-background-mobile-3.png);
    background-position: top 0 right 0, top 700px right 0, bottom 0 right 0;
    background-repeat: no-repeat;
}
.products-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 12px;
}
.products-description {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 148px;
}

ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


.products-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 420px;
    padding-top: 123px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 12px;
    background-color: #AEC6A5;
    border-radius: 24px;
    margin-bottom: 164px;
    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: -97px;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
            box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }
    &:nth-child(2n) {
        background-color: #EFD478;
        &::before {
            background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
                box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        }
    }
    &:last-child {
        margin-bottom: 0;
        background-color: #D6936D;
        &::before {
            background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
            box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        }
    }

}
.products-item-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -108px;
}
.products-item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 40px;
}
.products-item-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
}
.products-item-button {
    cursor: pointer;
    min-width:40px;
    height: 20px;
    border: 0;
    background-color: inherit;
    background-image: url(../images/products-arrow-default.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
    &:hover {
        background-image: url(../images/products-arrow-hover.png);
    }
    &:focus {
        background-image: url(../images/products-arrow-focus.png);
    }
}

