// Colors

$background-color: #84A178;
$accent-color: #F8D24E;
$hover-color: #0A8817;
$disabled-color: #ABABAB;
$main-text-color: #FCFCFC;
$accent-text-color: #131313;
$card-yellow-color: #EFD478;
$card-brown-color: #D6936D;

// Fonts

$font-main: 'Montserrat', sans-serif;
$font-title: 'Seymour One', sans-serif;