<section class="advantages">
  <div class="container">
    <h3 class="section__title is-hidden">Our advantages</h3>

    <ul class="advantages__list">
      <div class="advantages__cow">
        <li class="advantages__item">
          <span class="advantages__value">721</span>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>

      <div class="advantages__weight">
        <li class="advantages__item">
          <span class="advantages__value">16KG</span>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>

      <div class="advantages__icecream">
        <li class="advantages__item">
          <span class="advantages__value">84</span>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
