<div>Buy now modal</div>

 <!-- <div class="backdrop is-hidden" data-modal> -->
     <div class="modal-buy">
       <button type="button" class="modal-button" data-modal-close>
         <svg class="modal-icon" width="20" height="20">
           <use href="#"></use>
         </svg>
       </button>
       <p class="modal-window__title">Buy now</p>

       <section class="products-range">
         <ul class="products-range__list">
             <li class="products-range__item">Ice Cream</li>
             <li class="products-range__item">Ice Coffee</li>
             <li class="products-range__item">Milkshake</li>
         </ul>
       </section>
       <form class="modal-buy__form">
         <div class="input-field">
         <label for="userinfo"></label>
           <input
           type="text" 
           minlength="2"
           id="userinfo" 
           name="username" 
           class="input-form"
           placeholder="Name"
           required>
       </div>
       <div class="input-field">
         <label for="phone-number"></label>
           <input
           type="tel" 
           minlength="10"
           maxlength="13"
           id="phone-number" 
           name="user_phone" 
           class="input-form"
           placeholder="Phone"
           required>
       </div> 
       <div class="input-field">
         <label for="add-info"></label>
           <textarea name="comment" 
           class="input-form-comment"
           id="add-info"
           placeholder="Comment"
           required>
           </textarea>
         </div>
       </div>
  <button type="submit" class="form-btn">Submit</button>
         </form>
