<header class="header">
    <div class="container">
        <a href="./index.html" class="logo">
            <img src="./images/main-logo.png" alt="header logo"/>
        </a>
        <nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">How it's made?</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Contact</a>
        </li>
    </ul>
        </nav>
         <button type="button" class="adapt-menu-button is-open" 
         data-menu-button>
         <svg 
         width="32" 
         height="32"
         aria-label="mobile menu switcher">
          <use class="icon-cross" href="./images/icons.svg#icon-close-button"></use>
          <use class="menu-icon" href="./images/icons.svg#icon-Burger-3"></use>
         </svg>
         </button>
            <button type="button" class="navigation__button">Buy now
                <svg width="12" height="12">
                <use href="#"></use>
                </svg>
            </button>
</div>
</header>