<header class="header-main">
    <div class="container">
        <a href="./index.html" class="header-main__logo">
            <img src="./images/header-logo-desktop.svg" alt="header logo"/>
        </a>
        <nav class="header-main__nav">
    <ul class="header-main__list">
        <li class="header-main__item">
            <a href="" class="header-main__link">Home</a>
        </li>
        <li class="header-main__item">
            <a href="" class="header-main__link">How it's made?</a>
        </li>
        <li class="header-main__item">
            <a href="" class="header-main__link">Our products</a>
        </li>
        <li class="header-main__item">
            <a href="" class="header-main__link">Contact</a>
        </li>
        </nav>
        <button type="button" class="header-main__button">Buy now
            <svg width="12" height="12">
            <use href="./images/images.svg#icon-button-icon"></use>
            </svg>
        </button>
    </ul>
    
</div>
</header>