<header class="header">
    <div class="container">
        <a href="./index.html" class="logo">
            <img src="./images/main-logo.png" alt="header logo"/>
        </a>
        <nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">How it's made?</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
            <a href="" class="navigation__link">Contact</a>
        </li>
    </ul>
        </nav>
         <button type="button" class="menu-button is-open"
         aria-expanded="false"
         aria-controls="menu-container" 
         data-menu-button>
         <svg 
         width="32" 
         height="32"
         aria-label="mobile menu switcher">
          <use class="icon-close" href="./images/icons.svg#close-cross"></use>
          <use class="menu-icon" href="./images/icons.svg#menu"></use>
         </svg>
         </button>
         <div class="content-menu" id="content-menu" data-menu>
            <ul class="content-menu__list">
                <li class="content-menu__item">
                    <a href="" class="content-menu__link">Home</a>
                </li>
                <li class="content-menu__item">
                    <a href="" class="content-menu__link">How it's made?</a>
                </li>
                <li class="content-menu__item">
                    <a href="" class="content-menu__link">Our products</a>
                </li>
                <li class="content-menu__item">
                    <a href="" class="content-menu__link">Contact</a>
                </li>
            </ul>
            <div class="content-menu-btn">
                <button type="button" class="menu-form-btn">Buy now
                    <svg width="12" height="12">
                    <use href="./images/icons.svg#arrow"></use>
                    </svg>
                </button>
            </div>
         </div>
         <button type="button" class="navigation__button">Buy now
            <svg width="12" height="12">
            <use href="./images/icons.svg#arrow"></use>
            </svg>
        </button>
</div>
</header>