<section class="hero">
  <img src="./images/hero/hero-dots.png" alt="yellow dots" class="hero__dots" />
  <img
    src="./images/hero/hero-many-ice.png"
    alt="Many ice-cream"
    class="hero__many-ice"
  />
  <img src="./images/hero/hero-ice.png" alt="Big ice-cream" class="hero__ice" />
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button type="button" class="hero__btn">Products</button>
    <a href="" class="hero__link link">How it’s made?</a>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <ul class="hero__list list">
      <li class="hero__item">16</li>
      <p class="hero__item-desc">cafes</p>
      <li class="hero__item">23</li>
      <p class="hero__item-desc">food trucks</p>
    </ul>
  </div>
</section>
