<section class="hero">
  <img
    src="./images/hero/hero-dots-mob1x.png"
    alt="yellow dots"
    class="hero__dots"
  />
  <img
    src="./images/hero/hero-ice-mob1x.png"
    alt="Big ice-cream"
    class="hero__ice"
  />
  <div class="container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title-big">passion</span>
    </h1>
    <button type="button" class="hero__btn">Products</button>
    <a href="" class="hero__link link">How it’s made?</a>
  </div>
</section>
