<section class="hero section">
  <div class="container">
    <div class="hero__group">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title-big">passion</span>
      </h1>
      <ul class="hero__list list">
        <li class="hero__item">16</li>
        <p class="hero__item-desc">cafes</p>
        <li class="hero__item">23</li>
        <p class="hero__item-desc">food trucks</p>
      </ul>
    </div>

    <div class="hero__made">
      <button type="button" class="hero__btn button">Products</button>
      <button type="button" class="hero__btn--made button">
        How it’s made?
      </button>
    </div>
    <div class="hero__cluster">
      <img
        src="./images/hero/hero-many-ice-tablet.png"
        alt="Many ice"
        class="hero__many--ice"
      />
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
  </div>
  <picture>
    <source
      srcset="
        ./images/hero/hero-dots-mob.png   1x,
        ./images/hero/hero-dots-mob2x.png 2x
      "
      media="(max-width: 767px)"
    />
    <source
      srcset="
        ./images/hero/hero-dots-tablet.png   1x,
        ./images/hero/hero-dots-tablet2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <img
      src="./images/hero/hero-dots-mob.png"
      alt="yellow dots"
      class="hero__dots"
    />
  </picture>
  <picture>
    <source
      srcset="
        ./images/hero/hero-ice-mob.png   1x,
        ./images/hero/hero-ice-mob2x.png 2x
      "
      media="(max-width: 767px)"
    />

    <source
      srcset="
        ./images/hero/hero-ice-tablet.png   1x,
        ./images/hero/hero-ice-tablet2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <img
      src="./images/hero/hero-ice-mob.png"
      alt="Big ice-cream"
      class="hero__ice"
    />
  </picture>
</section>
