<section class="products">
  <div class="container">
    <h2 class="products-title">100% natural</h2>
    <p class="products-description">Products</p>
    <ul class="products-list">
      <li class="products-item">
        <img src="#" alt="four ice cream cones" class="products-item-img" />
        <h3 class="products-item-title">Ice cream</h3>
        <p class="products-item-description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="button" class="products-item-button"></button>
      </li>
      <li class="products-item">
        <img
          src="#"
          alt="glass of ice coffee on a wooden stand"
          class="products-item-img"
        />
        <h3 class="products-item-title">Ice coffee</h3>
        <p class="products-item-description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="products-item-button"></button>
      </li>
      <li class="products-item">
        <img
          src="#"
          alt="
chocolate milkshake with chocolate topping and baked Oreo"
          class="products-item-img"
        />
        <h3 class="products-item-title">Milkshakes</h3>
        <p class="products-item-description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="products-item-button"></button>
      </li>
    </ul>
  </div>
</section>
