<div class="read-more-modal">
  <h2 class="read-more-modal__title">How it’s made?</h2>
  <iframe
    width="224"
    height="199"
    src="https://www.youtube.com/embed/JM9VFGXXoVg"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="read-more-modal__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
