
// Hero styles
.hero {
    position: relative;
    // padding-top: 61px;
    padding-bottom: 265px; 
    @include tablet {
        // padding-top: 28px;
        padding-bottom: 17px;
    } 

}

.hero__title {
    font-family: $font-title;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 247px;
    margin: 0;
    display: inline-block;

    @include tablet {
        font-size: 18px;
        line-height: 1.28;
        width: 181px;
    }

    @include desktop {
        font-size: 38px;
        line-height: 1.26;
        width: 367px;
    }
}

.hero__title-big {
    font-size: 34px;
    line-height: 0.97;
    text-transform: uppercase;

    @include tablet {
        font-size: 24px;
        line-height: 0.55;
    }

    @include desktop {
        font-size: 38px;
        line-height: 1.26;
        width: 367px;
        }
}

.hero__group {
    display: flex;
}

.hero__list {
    margin-left: 470px;
    display: inline-block;

    @media screen and (max-width: 767px) {
            display: none;
        }

    @include desktop {
        margin-left: 719px;
    }
}

.hero__item {
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    color: $accent-text-color;
    text-align: right;

    @include desktop {
        font-size: 46px;
        
    }
}

.hero__item-desc {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;

    @include desktop {
        font-size: 14px;
        line-height: 1.21;
    }
}

.hero__item-desc:not(:last-child) {
    margin-bottom: 20px;
}


.hero__btn {
    min-width: 62px;
    height: 24px;
    padding: 10px 7px;
    margin-top: 32px;
    font-family: inherit;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    &:hover {
        border-color: $hover-color;
    }
    &:focus {
        border-color: $hover-color;
        color: $main-text-color;
    }
    &:disabled {
        border-color: $disabled-color;
    }

    @include tablet {
        margin-top: 20px;
        }

    @include desktop {
        font-size: 14px;
        line-height: 1.28;
        min-width: 134px;
        height: 42px;
        margin-top: 28px;
        padding: 12px 34px;
    }    
}

.hero__btn--made {
    margin-top: 32px;
    margin-left: 8px;
    height: 24px;
    padding: 10px 7px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: transparent;
    background-color: transparent;
    color: $accent-color;
    text-decoration: underline;
    &:hover {
        color: $hover-color;
    }
    &:focus {
        color: $main-text-color;
    }
    &:disabled {
        color: $disabled-color;
    }
         @include tablet {
            margin-top: 20px;
         }

    @include desktop {
        font-size: 14px;
        line-height: 1.28;
        min-width: 134px;
        height: 42px;
        margin-top: 28px;
        padding: 12px 34px;
    }
}

.hero__made{
    display: flex;
    align-items: center;
}

.hero__cluster {
    display: flex;
}

.hero__many--ice {
    margin-top: 28px;
    z-index: 2;

    @media screen and (max-width: 767px) {
            display: none;
        }

    @include desktop {
        margin-top: 42px;
        z-index: 999;
    }
}

.hero__text {
    margin-top: 56px;
    margin-left: 33px;
    margin-right: 0;
    display: inline-block;
    font-size: 12px;
    line-height: 1.42;
    width: 151px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @include desktop {
        font-size: 14px;
        line-height: 1.4;
        width: 200px;
    }
}

.hero--arrow {
    position: relative;
    margin-top: 20px;
    width: 40px;
    height: 22px;
    border: transparent;
    background-color: inherit;
    padding: 0;
    cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;
    &:hover {
            .hero--arrow__icon--default {
                opacity: 0;
            }
    
            .hero--arrow__icon--hover {
                opacity: 1;
            }
        }
     &:focus {
    
            .hero--arrow__icon--default,
            .hero--arrow__icon--hover {
                opacity: 0;
            }
    
            .hero--arrow__icon--focus {
                opacity: 1;
            }
        }

    @include desktop {
        margin-top: 32px;
    }
}

.hero--arrow__icon--hover,
.hero--arrow__icon--focus {
    opacity: 0;
}

.hero--arrow__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $main-text-color;
}


.hero__dots {
    position: absolute;
    width: 100vw;
    min-width: 328px;
    left: 0;
    bottom: 0;

    @media screen and (min-width: 479px) and (max-width: 767px) {
        width: 100vw;
        max-width: 479px;
        }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.hero__ice {
    position: absolute;
    width: 100%;
    max-width: 265px;
    bottom: -1px;
    left: 55%;
    transform: translate(-50%, 0);
    @media screen and (min-width: 480px) {
        width: 100vw;
        max-width: 285px;
        left: 50%;
        }
           
    @include tablet {
        width: 379px;
        right: 182px;
        bottom: 0;
        left: 433px;
        // transform: translate(-47%, 0);
    }
}

