.up-scroll__button {
    position: absolute;
    left: 100px;
    bottom: 100px;
    transform: translate(-50%, -50%) scale(0);
    background-color: aqua;
    color: black;
    opacity: 0.5;
    z-index: 200;
    &:hover,
    &:focus {
        background-color: aquamarine;
        opacity: 1;
        color:red;
    }
}

.up-scroll__icon {
    fill: red;
}